@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .__wrapper {
    @apply min-h-screen h-screen overflow-hidden flex items-center relative z-10;
  }

  .__brand {
    @apply absolute top-6 sm:top-8 sm:right-14 w-[150px];
  }

  .__brand img {
    @apply object-cover w-full h-full;
  }

  .__left-img {
    @apply w-2/3 h-full relative overflow-hidden hidden lg:block;
  }

  .__main-content {
    @apply flex flex-col justify-center 2xl:gap-8 bg-white sm:gap-5 gap-3 w-[652px] h-full relative rounded-l-[20px] px-6 md:px-0 mx-auto;
  }

  .__heading-1 {
    @apply text-[#ED213A] noto-sans sm:text-[24px] 2xl:text-[36px] text-xl font-bold sm:leading-[36px] 2xl:leading-[40px] whitespace-nowrap;
  }

  .__text-1 {
    @apply text-[#697586] roboto 2xl:text-lg sm:text-base text-xs font-normal leading-[22px];
  }

  .__label-input {
    @apply text-[#697586] sm:text-base text-sm font-semibold inter;
  }

  .__input {
    @apply 2xl:py-5 sm:py-3 py-3 sm:px-6 px-5 text-sm font-normal noto-sans rounded-lg sm:rounded-[10px] focus:ring-2 ring-blue-200 outline-[#ED213A] border border-[#7F7F7F];
  }

  .__input.__captcha {
    @apply border-b border-transparent border-b-gray-500 rounded-none focus:border-transparent focus:border-b-red-500 focus:ring-transparent focus:outline-none;
  }

  .__input.__input-error {
    @apply ring-red-300 focus:ring-red-400 ring-2 outline-red-500;
  }

  .__error-message {
    @apply sm:text-sm text-xs font-normal text-red-300 -mt-1;
  }

  .__btn-primary {
    @apply roboto font-semibold sm:text-xl text-base tracking-[-0.16px] text-white bg-gradient-to-r from-[#ED213A] to-[#93291E] 2xl:py-4 sm:py-2 sm:px-7 px-4 py-2 rounded-lg sm:rounded-[10px] focus:ring-2 ring-blue-200 outline-[#ED213A];
  }
  .__captcha {
    @apply sm:gap-8 gap-4 flex w-full items-center;
  }
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}
